{% extends "base.html" %}
{% load i18n %}
{% load static %}
 
{% block title %}
    {% trans 'Login or register' %} | {{ block.super }}
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<link href="{% static 'css/login.css' %}" rel="stylesheet">
<center>
    <div class="container">
        <h1 style="padding:2%;font-size:1.5em;">Attendance Management System</h1>
      <div id="login">
        <form method="post">{% csrf_token %}

          <fieldset class="clearfix">
            {% if form.errors %}
              {% for field in form %}
                  {% for error in field.errors %}
                      <div class="alert alert-danger">
                          <strong>{{ error|escape }}</strong>
                      </div>
                  {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
            {% endif %}
            <p><span class="fontawesome-user"></span><input id="id_username" type="text" value="Username" onBlur="if(this.value == '') this.value = 'Username'" onFocus="if(this.value == 'Username') this.value = ''" name="username" required></p> 
            <p><span class="fontawesome-lock"></span><input id="id_password" type="password"  value="Password" onBlur="if(this.value == '') this.value = 'Password'" onFocus="if(this.value == 'Password') this.value = ''" name="password" required></p> 
            <p><input type="submit" id="submit" value="Sign In"></p>

          </fieldset>

        </form>

      </div> <!-- end login -->

    </div>
</center>
{% endblock %}