body {
	font-family: 'Roboto', sans-serif;
	background-image: url('../img/circles-light.png');
}

p {
	font-size:1.2em;
}

table {
	table-layout:fixed;
}

th:nth-child(3) {
	width:20%;
}

td:nth-child(3) {
	width:20%;
}

table td {
	white-space: nowrap !important;
	max-width: 30% !important;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

nav {
	background-color: #2c3338 !important;
}

.nav-link {
	color:white !important;
}

.nav-link:hover {
	color: #ea4c88 !important;
}

.table-gray {
	background-color: #2c3338 !important;
	color:white;
}

.submit-btn {
	background-color: #ea4c88 !important;
	color:white; 
	border-radius:0%;
}

.card {
	background-color: #fbfbfd;
	margin-bottom:5%;
}

.footer {
	background-color: #2c3338;
	bottom:0;
	width:100%;
	position:fixed;
	color:white;
	padding:1.5%;
	text-align: center;
}

.footer a {
	color: #ea4c88;
}