{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<link href="{% static 'css/style.css' %}" rel="stylesheet">

<nav style="width:100%;" class="navbar navbar-expand-md navbar-dark">
  	<a class="navbar-brand" href="#">Navbar</a>
  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
  	</button>
  	<div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="navbar-nav">
		  	<li class="nav-item">
				<a class="nav-link" href="#">Link</a>
		  	</li>
	  		<li class="nav-item">
				<a class="nav-link" href="#">Link</a>
		  	</li>
		</ul>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a href="/logout" class="nav-link">
					Logout
				</a>
			</li>
		</ul>
  	</div>  
</nav>

<div style="margin-top:3%;" class="container">
	<div id="details_pc" class="row">
		<div class="col">
			<p>Teacher: {{ teaches.teacher.first_name }}</p>
		</div>
		<div class="col">
			<p>Class: {{ teaches.sem }} {{ teaches.sec }}</p>
		</div>
		<div class="col">
			<p>Date: <span class="date"></span></p>
		</div>
		<div class="col">
			<p>Hour: <span class="time"></span></p>
		</div>
	</div>
	<div id="details_mob" class="d-none">
		<div>
			<p>Teacher:{{ teaches.teacher. }}</p>
		</div>
		<div>
			<p>Class: {{ teaches.sem }} {{ teaches.sec }}</p>
		</div>
		<div class="col">
			<p>Date: <span class="date"></span></p>
		</div>
		<div>
			<p>Hour: <span class="time"></span></p>
		</div>
	</div>
	<div class="card p-5">
		<form method="POST">{% csrf_token %}
			<table style="overflow-x:auto;max-width:100%;" class="table table-gray">
		    	<thead>
		      		<tr class="text-center">
		        		<th style="width:20%;">Sr. No.</th>
				        <th style="width:50%;">Name</th>
				        <th style="width:30%;">Absent <span id="hide" style="font-size:0.8em;color:#999;">(mark if absent)</span></th>
			      	</tr>
				</thead>
				<tbody>
					{% for i in student_list %}
				      	<tr class="text-center">
					        <td style="width:20%;">{{ forloop.counter }}</td>
					        <td style="width:50%">{{ i.first_name }}</td>
				        	<td style="width:30%;">
				        		<div style="text-align:center;" class="checkbox"><input type="checkbox" class="form-check-input" id="check2" name="student" value="{{i.username}}"></div>
				        	</td>
				      	</tr>
			      	{% empty %}
				      	<tr id="oops">
				      		<span class="text-danger"> Oops! Something went wrong. Please contact your IT support.</span>
				      	</tr>
		      		{% endfor %}
		    	</tbody>
		  	</table>
		  	<input id="submit" type="submit" class="btn submit-btn float-right" value="Submit">
	  	</form>
  	</div>
</div>
{% endblock %}
{% block script %}

{{ super }}
<script>
if($('#oops').length > 0) {
	$('#submit').attr('disabled', 'true');
	$('#submit').css('cursor', 'not-allowed');
}
</script>
<script>
$(function() {
    if (screen.width < 509) {
    	$('th:nth-child(1)').hide();
        $('td:nth-child(1)').hide();
        $('.card').attr('style', 'padding:0px !important;');
    }
})
</script>
<script>
$( window ).resize(function() {
    if (screen.width < 509) {
        $('th:nth-child(1)').hide();
        $('td:nth-child(1)').hide();
        $('.card').attr('style', 'padding:0px !important;');
    }
    else {
        $('th:nth-child(1)').show();
        $('td:nth-child(1)').show();
        $('.card').removeAttr('style');
    }
    if(screen.width < 509) {
    	$('#hide').hide();
    }
    else {
    	$('#hide').show();
    }
    if(screen.width < 761) {
    	$('table').addClass('table-bordered');
    	$('#details_pc').addClass('d-none');
    	$('#details_mob').removeClass('d-none');

    }
    else {
    	$('table').removeClass('table-bordered');	
    	$('#details_pc').removeClass('d-none');
    	$('#details_mob').addClass('d-none');
    }
});
</script>
<script>
$(document).ready(function() {
    $('.table tr').click(function(event) {
        if (event.target.type !== 'checkbox') {
            $(':checkbox', this).trigger('click');
        }
    });
});
</script>
{% endblock %}