{% load static %}
<!DOCTYPE html>
<html>
  	<head>
		<title>{{title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<style type="text/css">
		@media (min-width: 800px) and (max-width: 850px) {
		        .navbar:not(.top-nav-collapse) {
		            background: #1C2331!important;
		        }
		    }
		</style>  
		<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
	</head>
	<body>
	    {% block content %}
	    {% endblock %}
	    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
	    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
	    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
	    {% block script %}
	    {% endblock %}
	    <footer>
	    	<div class="footer">
	    		Powered By <a href="https://www.devxlabs.co" target="_blank">DevX</a>
	    	</div>
	    </footer>
	</body>
</html>