{% extends "dashboard/dashboard_base.html" %}
{% load i18n %}
{% load static %}

{% block content %}

	<div class="content-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h4 class="page-head-line">Dashboard</h4>
				</div>
			</div>
			<div class="row">
				<a href="{% url 'dashboard' %}">
					<div class="col-md-3 col-sm-3 col-xs-6">
						<div class="dashboard-div-wrapper bk-clr-one">
							<i class="fa fa-table dashboard-div-icon" ></i>
							<h5>Home</h5>
						</div>
					</div>
				</a>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<div class="dashboard-div-wrapper bk-clr-two">
						<i class="fa fa-edit dashboard-div-icon" ></i>
						<h5>Edit/Change</h5>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<div class="dashboard-div-wrapper bk-clr-three">
						<i class="fa fa-upload dashboard-div-icon" ></i>
						<h5>Data Upload</h5>
					</div>
				</div>
				<a href="{% url 'log' %}">
					<div class="col-md-3 col-sm-3 col-xs-6">
						<div class="dashboard-div-wrapper bk-clr-four">
							<i  class="fa fa-list-alt dashboard-div-icon" ></i>
							<h5>Logs</h5>
						</div>
					</div>
				</a>
			</div>
		   
			<div class="row">
				<div class="col-md-6">
					  <div class="notice-board">
						<div class="panel panel-default">
							<div class="panel-heading activity">
						   		Graph 1
								<div class="pull-right" >
									<div class="dropdown">
									  	<button class="btn submit-btn dropdown-toggle btn-xs" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
											<span class="glyphicon glyphicon-cog"></span>
											<span class="caret"></span>
									  	</button>
									  	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Refresh</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Logout</a></li>
									  	</ul>
									</div>
								</div>
							</div>
							<div class="panel-body">
							   
							</div>
						</div>
					</div>
					<hr />
				</div>
				<div class="col-md-6">
					<div class="notice-board">
						<div class="panel panel-default">
							<div class="panel-heading activity">
						   		Graph 2
								<div class="pull-right" >
									<div class="dropdown">
									  	<button class="btn submit-btn dropdown-toggle btn-xs" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
											<span class="glyphicon glyphicon-cog"></span>
											<span class="caret"></span>
									  	</button>
									  	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Refresh</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Logout</a></li>
									  	</ul>
									</div>
								</div>
							</div>
							<div class="panel-body">
							   
							</div>
						</div>
					</div>
					<hr />
				</div>
			</div>
		</div>
	</div>
{% endblock %} 